*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   justify-content: center;
}

body{
   margin-top: 5%;
   background-color: dimgrey;
}

.container{
   display: flex;
}

header{
   font-size: 28px;
   font-weight: bold;
   color: black;
   text-align: center;
   border: 2px solid black;
   border-radius: 10px;
   background-color: #fff;
   }

form{
   width: 100%;
   display: flex;
   margin: 25px 0;
}

form button, form input{
   padding: 10px;
   margin: 8px;
   border-radius: 10px;
   background-color: #fff;
   border: 2px solid black;
   font-size: 16px;
}
form button{
   font-weight: bolder;
}

table{
   width: 100%;
   text-align:center;
   font-size: 16px;
   background-color: #fff;
   border: 2px solid black;
   border-radius: 10px;
}

thead > tr > th{
   font-size: 20px;
   padding: 8px;
   border-bottom: 8px double black;
}

tbody > tr > td{
   width: 50%;
   font-size: 16px;
   padding: 8px;
   border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
}
